.activity-card {
  padding: 20px 0;
  margin: 10px;
  background-color: $white;
  background-size: 10px 10px;
  border: $black 3px solid;

  &.education {
    background-image: repeating-linear-gradient(45deg, $education 0, $education 0.4px, $white 0, $white 50%);
  }

  &.recreational {
    background-image: repeating-linear-gradient(45deg, $recreational 0, $recreational 0.4px, $white 0, $white 50%);
  }
  
  &.social {
    background-image: repeating-linear-gradient(45deg, $social 0, $social 0.4px, $white 0, $white 50%);
  }
  
  &.diy {
    background-image: repeating-linear-gradient(45deg, $diy 0, $diy 0.4px, $white 0, $white 50%);
  }
  
  &.charity {
    background-image: repeating-linear-gradient(45deg, $charity 0, $charity 0.4px, $white 0, $white 50%);
  }

  &.cooking {
    background-image: repeating-linear-gradient(45deg, $cooking 0, $cooking 0.4px, $white 0, $white 50%);
  }
  
  &.relaxation {
    background-image: repeating-linear-gradient(45deg, #1b998b 0, #1b998b 0.4px, $white 0, $white 50%);
  }

  &.music {
    background-image: repeating-linear-gradient(45deg, $music 0, $music 0.4px, $white 0, $white 50%);
  }

  &.busywork{
    background-image: repeating-linear-gradient(45deg, $busywork 0, $busywork 0.4px, $white 0, $white 50%);
  }

  .white-space {
    background-color: $white;
    display: flex;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
  }
  
  .type {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border: 2px solid $black;
    border-radius: 30px;
    color: $white;

    &.education {
      background-color: $education;
    }
  
    &.recreational {
      background-color: $recreational;
    }
    
    &.social {
      background-color: $social;
    }
    
    &.diy {
      background-color: $diy;
    }
    
    &.charity {
      background-color: $charity;
    }
  
    &.cooking {
      background-color: $cooking;
    }
    
    &.relaxation {
      background-color: $relaxation;
    }
  
    &.music {
      background-color: $music;
    }
  
    &.busywork{
      background-color: $busywork;
    }

    svg {
      margin-right: 5px;
    }
  }
}
  