$black: #111111;
$grey-dark: #161925;
$white: #FDFFFC;

$education: #6A4C93;
$recreational: #FF7733;
$social: #FC6DAB;
$diy: #FFCA3A;
$charity: #1C90D9;
$cooking: #8AC926;
$relaxation: #1B998B;
$music: #2D080A;
$busywork: #DF2935;
